.headline {
    font-weight: 500 !important;
    font-size: 1.25rem !important;
}

.error-style {
    background-color: #e1275f; 
    color: white
}

.border-style {
    border-radius: 25px;
    border:transparent;
    background-color: rgba(30, 139, 195, 0.2);
}

.light {
    color:rgb(54, 9, 65)
}
  
.dark {
    color: white;
}

.margin-style {
    margin-left: 5px;
    margin-top: 5px;
    margin-right: 5px;
}